* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.position {
  position: relative;
  border-radius: 0;
  transition: 0.1s ease-out 0.1s;
}

.positionA {
  position: absolute;
  z-index: 1;
  top: 44px;
  left: 0;
  height: 0;
  width: 250px;
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease-out 0.3s;
  overflow: hidden;
  font-weight: 395;
}

.position:hover {
  background-color: rgb(245, 248, 248);
  box-shadow: 0px 15px rgb(245, 248, 248);
}

.position:hover .positionA {
  height: 270px;
  background-color: rgb(245, 248, 248);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.container {
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

span {
  text-decoration: line-through;
  font-size: 14px;
  color: rgba(65, 65, 65, 0.692);
}

/* li:hover {
  background-color: rgba(224, 229, 233, 0.556);
} */

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
}
